<section style="display:flex;gap:1rem;">
  <div class="feature-item">
    {{!-- {{> @avatar}} --}}
    <div class="avatar" data-size="a3" style="margin: 0 0 var(--space-2)">
      <img class="avatar-image" src="{{path '/assets/avatar.png'}}" alt="avatar {{size}}" />
    </div>
    <h3 class="feature-title" data-variant="subhead">feature title</h3>
    <p class="feature-description" data-variant="body">feature description</p>
    <br />
    <button class="button" data-variant="tertiary" data-size="small">Link to page </button>
  </div>
  <div class="feature-item">
    <div class="avatar" data-size="a3" style="margin: 0 0 var(--space-2)">
      <img class="avatar-image" src="{{path '/assets/avatar.png'}}" alt="avatar {{size}}" />
    </div>
    <h3 class="feature-title" data-variant="subhead">feature title</h3>
    <p class="feature-description" data-variant="body">feature description</p>
    <br />
  </div>
  <div class="feature-item">
    <div class="avatar" data-size="a3" style="margin: 0 0 var(--space-2)">
      <img class="avatar-image" src="{{path '/assets/avatar.png'}}" alt="avatar {{size}}" />
    </div>
    <h3 class="feature-title" data-variant="subhead">feature title</h3>
    <p class="feature-description" data-variant="body">feature description</p>
    <br />
  </div>
</section>