{{! <h1 class="text" data-variant="title">타이틀 Title</h1>
<h2 class="text" data-variant="subhead">서브헤드 Subhead</h2>
<p class="text" data-variant="body-large">바디 텍스트 Body text large</p>
<p class="text" data-variant="body">바디 텍스트 Body text</p>
<p class="text-caption" data-variant="caption">캡션 Caption</p> }}

<style>
  h6 { margin-bottom: var(--space-1); }
</style>

{{! <p style="margin-bottom:1rem;border-bottom:1px solid;padding-bottom:.5rem;color:#999;">ring</p> }}
<div class="group">
  <p class="text" data-variant="body" data-color="primary">* 강조텍스트</p>
  <p class="text" data-variant="body" data-color="point">* 강조텍스트</p>
  <p class="text" data-variant="body" data-color="negative">* 강조텍스트</p>
  <p class="text" data-variant="body" data-color="negative">[14] 댓글수?</p>
</div>
<br /><br />

<ul>
  <li>관리자 사이트에서 가장 큰 테스트가 heading3 부터 시작함.. 그렇다면 1과 2는?</li>
</ul>
<br /><br />
<h6>heading3</h6>
<p class="text" data-variant="heading3">{{heading}}</p>
<div style="margin-top:var(--space-2)"><span class="badge">게시판관리(상세)</span></div>
<br /><br />
<h6>heading4</h6>
<p class="text" data-variant="heading4">{{heading}}</p>
<div style="margin-top:var(--space-2)"><span class="badge">로그인</span></div>
<br /><br />
<h6>heading5</h6>
<p class="text" data-variant="heading5">{{heading}}</p>
<div style="margin-top:var(--space-2)"><span class="badge">카드 제목</span><span class="badge">업무 시스템에는 없음</span></div>
<br /><br />
<h6>body1</h6>
<p class="text" data-variant="body1">{{body}}</p>
<br /><br />
<h6>body2</h6>
<p class="text" data-variant="body2">{{body}}</p>
<br /><br />
<h6>caption</h6>
<div class="group">
  <p class="text" data-variant="caption" data-color="negative">필수</p>
  <p class="text" data-variant="caption" data-color="primary">선택</p>
</div>

<br /><br />
<p class="text-feedback">이것은 text-feedback 클래스입니다. 특정 컴포넌트에 종속되지 않은 유틸성. 컬러를 포함한 컴포넌트. 컬러를 제외한 컴포넌트. 나눌
  수도 있다</p>

<br /><br />

<div class="meter" style="width:200px;">
  <span class="meter-text">740</span>
  <div class="meter-track">
    <b class="meter-thumb" style="width: 68%"></b>
  </div>
</div>

<br /><br />

<div class="group">
  <a href="#">TODO link group</a>
  <span>|</span>
  <a href="#">링크2</a>
</div>