<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css" />

    <link rel="stylesheet" href="{{path '/assets/css/variables.css'}}" />

    <link rel="stylesheet" href="{{path '/assets/css/reset.css'}}" />

    <link rel="stylesheet" href="{{path '/assets/css/icon.css'}}" />

    <link rel="stylesheet" href="{{path '/assets/css/style.css'}}" />

    <link rel="stylesheet" href="{{path '/assets/css/fractal.css'}}" />
    <link rel="stylesheet" href="{{path '/assets/css/breadcrumb.css'}}" />

    <link rel="stylesheet" href="{{path '/assets/css/avatar.css'}}" />
    <link rel="stylesheet" href="{{path '/assets/css/button.css'}}" />
    <link rel="stylesheet" href="{{path '/assets/css/chip.css'}}" />
    <link rel="stylesheet" href="{{path '/assets/css/link.css'}}" />

    <link rel="stylesheet" href="{{path '/assets/css/navbar.css'}}" />
    <link rel="stylesheet" href="{{path '/assets/css/menu.css'}}" />
    <link rel="stylesheet" href="{{path '/assets/css/tab.css'}}" />

    <link rel="stylesheet" href="{{path '/assets/css/checkbox.css'}}" />
    <link rel="stylesheet" href="{{path '/assets/css/radio.css'}}" />
    <link rel="stylesheet" href="{{path '/assets/css/switch.css'}}" />

    <link rel="stylesheet" href="{{path '/assets/css/textfield.css'}}" />

    <link rel="stylesheet" href="{{path '/assets/css/badge.css'}}" />
    <link rel="stylesheet" href="{{path '/assets/css/texts.css'}}" />

    <link rel="stylesheet" href="{{path '/assets/css/empty-state.css'}}" />
    <link rel="stylesheet" href="{{path '/assets/css/step.css'}}" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/v/dt/dt-1.13.8/datatables.min.js"></script>
    {{! full numbers:: first - last }}
    <script>
      {{! const options = { pagingType: 'full_numbers', scrollY: 300, lengthMenu: [ [10, 25, 50, -1], [10, 25, 50, 'All'] ],  }; }}
      window.addEventListener('load', () => { setTimeout(() => { new DataTable('#example'); }, 100) })
    </script>
    <link rel="stylesheet" href="{{path '/assets/css/tables.css'}}" />

    <title>{{_target.label}} | Preview Layout</title>
  </head>
  <body>
    <div style="padding:2rem">{{{yield}}}</div>

  </body>
</html>