<div class="group" role="group">
  <button class="button" data-variant="primary" data-size="{{size}}" data-status="">{{label}}</button>
  <button class="button" data-variant="{{variant}}" data-size="{{size}}" data-status="">{{label}}</button>
</div>