{{!-- <button class="button" data-variant="{{variant}}" data-size="{{size}}" data-status="">{{label}}</button> --}}

<aside>
  <h3>{{title}}</h3>
  <p>{{description}}</p>
  <p>Click here if you like this! {{> @button}}</p>
</aside>